<div class="image-container">
  <!-- <img
    class="rund-um-die-uhr"
    src="/src/assets/images/rund-um-die-uhr.gif"
    alt="rund um die uhr"
  /> -->

  <div class="visiten-container">
    <img
      class="visiten-karte"
      src="/src/assets/images/taxi-seite-n.png"
      alt="taxi-hamm"
    />
    <h2 class="kontakt-link"><a href="/Kontakt/">Kontakt</a></h2>
  </div>
</div>

<div>
  <h4>Unsere Fahrer sind zu jederzeit - freundlich und sehr hilfsbereit!</h4>
  <!-- <img src="/src/assets/images/taxi-seite-n.png" alt="taxi mit person" /> -->
</div>
