<!-- prettier-ignore -->
<div class="logo" title="Taxi-Hamm | Start" onclick="location.href = '/'">
  <img class="taxi" src="/src/assets/images/taxi.gif" alt="taxi" />
  <img
    class="taxi-hamm"
    src="/src/assets/images/taxi-hamm.png"
    alt="Taxi-Hamm"
    data-href="/start/"
  />
</div>

<input
  type="checkbox"
  class="nav-toggle"
  id="nav-toggle"
  style="display: none"
/>
<nav class="nav">
  <div class="nav-item">
    <a href="/Krankentransporte/">Krankentransporte</a>
  </div>
  <div class="nav-item">
    <a href="/Flughafentransporte/">Flughafentransporte</a>
  </div>
  <div class="nav-item">
    <a href="/Sonstige-Fahrten/">Sonstige Fahrten</a>
  </div>
  <div class="nav-item">
    <a href="/Kontakt/">Kontakt</a>
  </div>
</nav>

<img
  class="telefon"
  src="/src/assets/images/telefon.jpg"
  alt="telefon Kontakt"
/>

<label for="nav-toggle" class="nav-toggle-label">
  <span class="hamburger"></span>
</label>
