@import url("https://use.typekit.net/mzd5zle.css");

:root {
	--primary-clr-hue: 120;

	--dark-font-clr: hsl(var(--primary-clr-hue), 20%, 15%);
	--light-font-clr: hsl(var(--primary-clr-hue), 90%, 80%);

	--background-clr: hsl(var(--primary-clr-hue), 15%, 42%);
    --hamburgerColor: var(--dark-font-clr)

	--backDropBlur: 6px;

	--primaryFont: futura, futura-pt, helvetica;

	--color-change-delay: 200ms;

	--dialogBgBrightness: 70%;
	--dialogBgHue: 120;
	/* --dialogBackground: hsl(var(--dialogBgHue), 15%, var(--dialogBgBrightness)); */
	--dialogBackground: white;
}

/*////////////////////////////// GENERAL ///////////////////////////////*/
body {
	background: hsl(var(--primary-clr-hue), 20%, 10%);

	font-family: var(--primaryFont);
	color: var(--dark-font-clr);

	margin: 0;
	padding: 90px 0 0 0;
}

::selection {
	background: var(--light-font-clr);
}
* {
	transition: background var(--color-change-delay)
}

/*////////////////////////////// NAVBAR ///////////////////////////////*/

.nav-bar-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 10;

	display: flex;
	align-items: center;

	font-family: var(--primaryFont);
	color: var(--dark-font-clr);

	background: var(--background-clr);
}
.logo {
	margin: 23px 50px;
}

/*/////////////// buttons ///////////////////*/
button {
	cursor: pointer;
}
:is(.nav-bar-container, .nav-bar-container > div) > button {
	margin: 0 3px;

	color: var(--dark-font-clr);
	font-size: 1rem;
	font-weight: 600;
	border-radius: 6px;
	border: none;
	padding: 5px;

	background: hsl(var(--primary-clr-hue), 30%, 50%);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.39);

	cursor: pointer;

	transition: 160ms;
}
:is(.nav-bar-container, .nav-bar-container > div) > button:hover {
	transform: scale(1.1);
}
:is(.nav-bar-container, .nav-bar-container > div) > button:active {
	color: var(--light-font-clr);
}

/*///////// color //////////*/
.change-clr-btn {
	/* margin: 10px; */

	transform-origin: right;
}
.colorSliderContainer {
	z-index: 10;

	position: absolute;
	top: 120%;
	left: 50%;

	display: flex;
	align-items: center;

	border-radius: 10px;
	padding: 10px;

	--background-clr: hsl(var(--primary-clr-hue), 70%, 65%);

	background: var(--background-clr);
	/* background: white; */
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.74);

	transform-origin: left -10px;
	transform: scale(0) translateX(-50%);
	transition: transform 180ms;
}
#toggleColorSlider:checked ~ .colorSliderContainer {
	transform: scale(1) translateX(-50%);
}
.colorSliderContainer::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent var(--background-clr) transparent;
}
.colorSliderContainer #colorSlider {
	transform: translateY(0);
	margin: 0;

	height: 7px;

	box-shadow: 0 0 15px rgba(0, 0, 0, 0.589);
}
.colorSliderContainer #ok-button {
	margin: 0 0 0 10px;

	color: var(--dark-font-clr);
}
.colorSliderContainer button:active {
	color: var(--light-font-clr);
}

/*///////// settings //////////*/
.settings-btn {
	transform-origin: left;
}
.settings-container {
	z-index: 10;

	position: absolute;
	top: 145%;
	left: 44%;

	width: max-content;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 10px;
	padding: 10px;

	--background-clr: hsl(var(--primary-clr-hue), 70%, 65%);

	background: var(--background-clr);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.74);

	transform: scale(0);
	transform-origin: left -10px;
	transition: 220ms;
}
.settings-container::after {
	content: "";
	position: absolute;
	bottom: 100%; /* At the top of the tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent var(--background-clr) transparent;
}
#toggleSettings:checked ~ .settings-container {
	transform: scale(1) translateX(-50%);
}
.settings-container h2 {
	margin: 0 0 10px;
}
.close-settings-btn {
	position: absolute;
	top: 5px;
	right: 5px;

	font-size: 1.3rem;
	border: none;
	border-radius: 6px;
	line-height: 0.9;

	background: none;

	transition: 150ms;
}
.close-settings-btn:hover {
	background: rgba(63, 63, 63, 0.315);
}

.settings-item + .settings-item {
	margin-top: 10px;
}
.settings-item {
	min-width: calc(100% - 20px);

	display: flex;
	/* flex-direction: column; */
	align-items: center;

	border-radius: 6px;
	padding: 10px;

	background: rgba(74, 74, 74, 0.481);
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.687); */
}
.settings-item.keepColor label {
	margin-right: 10px;
}
.settings-item.keepColor {
	flex-direction: row;
}
.settings-item.keepColor .switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 21px;

	transform: translateY(2px);
}
.settings-item.keepColor .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 34px;

	background-color: hsl(var(--primary-clr-hue), 20%, 33%);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.settings-item.keepColor .slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 3px;
	bottom: 3px;
	border-radius: 50%;

	background-color: var(--background-clr);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .switch .slider {
	background-color: var(--background-clr);
}

input:checked + .switch .slider:before {
	transform: translateX(13px);
	background-color: hsl(var(--primary-clr-hue), 20%, 33%);
}

.settings-item.color #colorSlider {
	width: calc(100%);
	height: 8px;
	margin: 6px 0;
}

/*/////////////// search ///////////////////*/
.search-bar-container {
	/* outline: 1px solid red; */
	position: relative;

	padding: 0;
	margin: 0 0 0 20px;
}
.search-bar {
	/* position: absolute;
    left: 180px; */

	width: 120px;
	margin: 0;

	border-radius: 6px;
	border: none;
	font-size: 1rem;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;

	background: hsl(var(--primary-clr-hue), 30%, 50%);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.39);

	transform-origin: left;

	transition: all 300ms ease-out;
}
.search-bar::placeholder {
	color: hsl(var(--primary-clr-hue), 15%, 32%);
}
.search-bar:focus {
	width: 400px;

	outline: none;
	box-shadow: 0 0 0 2px hsl(var(--primary-clr-hue), 60%, 70%);
	/* border: 2px solid hsl(var(--primary-clr-hue), 60%, 70%); */
}
.search-bar:hover:not(:focus),
.cancel-icon:hover ~ .search-bar {
	/* transform: scale(1.08); */
	filter: brightness(0.93);
}
.search-icon {
	position: absolute;
	top: 6px;
	left: 8px;
	/* transform: translateY(6px); */

	color: var(--dark-font-clr);

	pointer-events: none;

	transition-delay: 150ms;
}
/* :is(.search-bar:focus, .search-bar.focus) ~ .search-icon {
  transform: translateY(9px);
} */
.cancel-icon {
	position: absolute;
	top: 6px;
	right: 8px;

	color: var(--dark-font-clr);
	filter: opacity(0.7);

	cursor: pointer;

	transition: transform 180ms;
}
.cancel-icon:hover {
	transform: scale(1.2);
}

/*/////////////// navigation /////////////////*/
nav {
	position: absolute;
	right: 0;
	padding: 0;
	margin: 0 10px 0 0;
}
.nav-list {
	width: fit-content;

	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	list-style: none;

	font-size: 1.5rem;
}

.nav-list div {
	margin: 8px 15px;
}

.nav-list div a {
	text-decoration: none;
	color: var(--dark-font-clr);

	transition: all 160ms;
}
.nav-list div a:hover {
	color: hsl(var(--primary-clr-hue), 100%, 50%);
	text-shadow: 0 0 5px hsl(var(--primary-clr-hue), 100%, 50%);
}
.nav-list div a.active {
	color: hsl(var(--primary-clr-hue), 100%, 50%);
}
@media (max-width: 2000px) {
    nav {
        right: unset;
		top: 100%;
		width: 100%;
        padding-bottom: 20px;
        
		background: var(--background-clr);
        
		transform-origin: top;
		transform: scale(1, 0);
	    transition: 180ms;
	}
    .nav-toggle:checked ~ nav {
        
        transform: scale(1);
    }

	.nav-list {
		flex-direction: column;
		width: 100%;

        opacity: 0;
	}
    .nav-toggle:checked ~ nav .nav-list {
        opacity: 1;
        transition: 140ms 130ms
    }

    .nav-toggle-label {
        /* outline: 2px solid red; */

        position: absolute;
        top: 0px;
        right: 0px;

        --hamburgerColor: black;

        padding: 0 1rem 0;
        margin-right: 0.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 20pt;
        cursor: pointer;

        background: var(--navBarBackground);
    }
    .hamburger {
        height: 4px;
        width: 1.5rem;
        border-radius: 1.7px;

        background: var(--hamburgerColor);

        transition: 200ms;
    }
    .hamburger::before,
    .hamburger::after {
        content: "";

        position: absolute;
        left: 1rem;

        height: 4px;
        width: 1.5rem;
        border-radius: 1.7px;

        background: var(--hamburgerColor);

        transform: translateY(-9px);

        transition: 200ms;
    }
    .hamburger::after {
        transform: translateY(9px);
    }

    .nav-toggle:checked ~ label .hamburger::after {
        transform: rotate(45deg);
    }
    .nav-toggle:checked ~ label .hamburger::before {
        transform: rotate(-45deg);
    }
    .nav-toggle:checked ~ label .hamburger {
        background: transparent;
    }
}

#colorSlider {
	height: 5px;

	background: linear-gradient(
		90deg,
		hsl(0, 100%, 50%),
		hsl(45, 100%, 50%),
		hsl(90, 100%, 50%),
		hsl(135, 100%, 50%),
		hsl(180, 100%, 50%),
		hsl(225, 100%, 50%),
		hsl(270, 100%, 50%),
		hsl(315, 100%, 50%),
		hsl(360, 100%, 50%)
	);
}

/*/////////////// custom dialogs ////////////////*/

.dialogContainer {
	z-index: 1090;

	height: 100vh;
	width: 100vw;
	margin: 0;

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(0, 0, 0, 0.58);

	pointer-events: all;
}
.dialog {
	z-index: 1100;

	box-sizing: border-box;
	padding: 15px;
	font-family: "helvetica";

	min-width: 280px;
	max-width: 350px;

	/* background: rgb(72, 72, 72); */
	background: var(--dialogBackground);
	/* background: hsl(0, 0%, var(--dialogBgBrightness)); */

	border-radius: 8px;

	pointer-events: all;

	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	--defaultScale: 1;
	--initScale: 0.7;
	transform: scale(0.8);

	transition: 160ms;
}
.dialog.appear {
	transform: scale(1);
}
.dialogText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	line-break: break-all;
}
.dialogText h3 {
	margin: 0;
	color: rgb(41, 41, 41);
}
.dialogText p {
	margin: 5px 0 0 0;
	color: rgb(84, 84, 84);
}
.dialogInput {
	display: flex;
	justify-content: center;

	margin: 10px 0 0;
}
.dialogInput.prompt {
	flex-direction: column;
	align-items: center;
}
.dialogInput.prompt :is(input[type="text"], input[type="range"]) {
	margin: 0 0 20px;
	font-size: 0.85rem;

	border: none;
	border-radius: 6px;
	padding: 5px;

	background: rgb(225, 225, 225);

	transition: box-shadow 180ms;
}
.dialogInput.prompt input[type="text"]:focus {
	outline: none;
	box-shadow: 0 0 10px rgba(1, 77, 191, 0.755);
}
.dialogInput button {
	background: transparent;
	border: none;
	border-radius: 6px;

	margin: 0 30px 0;
	max-height: 25px;

	font-size: 1rem;
	font-weight: 650;
	color: rgb(0, 115, 255);

	transition: color 110ms, background-color 115ms;
}
.dialogInput button:last-child {
	/* btn-primary */
	background-color: #80808048;
}
.dialogInput button:active {
	color: var(--dialogBackground);
}
.dialogInput button:is(:hover, :focus) {
	background-color: #48484848;
}
@media (max-width: 600px) {
	.dialog {
		transform: scale(0.7);
	}
	.dialog.appear {
		transform: scale(0.85);
	}
}

.sliderInput {
	-webkit-appearance: none;

	height: 1px;
	width: 190px;

	margin-top: 5px;
	/* margin-bottom: 10px; */

	border: none;
	border-radius: 4px;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.637);
}
.sliderInput::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 25px;
	width: 7px;

	border: none;
	border-radius: 2px;
	cursor: pointer;

	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
}
.sliderInput::-moz-range-thumb {
	height: 25px;
	width: 7px;

	border: none;
	border-radius: 2px;

	cursor: pointer;

	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
}
