<!-- NavBar -->
<h1 class="logo"><a href="home.html">dein.ding</a></h1>
<input type="checkbox" class="nav-toggle" id="nav-toggle">
<nav>
    <ul>
        <li><a href="home.html" id="homeLink" title="Home"><i class="fad fa-fw fa-home"></i> Home</a></li>
        <li><a href="music.html" id="musicLink" title="Music"><i class="fad fa-compact-disc"></i> music</a></li>
        <li><a href="#" id="aboutLink" class="disabledLink"><i class="fad fa-address-card"></i> About</a></li>
        <li class="projects-li">
            <a class="projects-dropdown-toggle-label prjct-tggl" id="projectsLink" title="Programmier-Projekte" tabindex="0">
                <i class="fad fa-file-code prjct-tggl"></i> Projects <i class="fa fa-caret-down prjct-tggl"></i>
            </a>
        </li>
        <input type="checkbox" class="projects-dropdown-toggle" id="projects-dropdown-toggle">
        <ul class="projects-dropdown">
            <li><a href="Timer.html" id="timerLink">Timer</a></li>
            <li><a href="Taschenrechner.html" id="taschenrechnerLink">Taschenrechner</a></li>   
            <li><a href="Horoskop.html" id="horoskopLink">Horoskop</a></li>
            <li><a href="colorPicker.html" id="colorPickerLink">colorPicker</a></li>
            <li><a href="pong.html" id="pongLink">ponggame</a></li>
        </ul>
        <li><a href="#" id="loginLink" class="disabledLink"><i class="fad fa-fw fa-user"></i> Login</a></li>
    </ul>
</nav>

<label for="nav-toggle" class="nav-toggle-label">
    <span class="hamburger"></span>
</label>
