body {
    height: 100vh;
    /* padding-top: 60px; */
    margin: 0;

    font-family: futura;

    background: black;
}
.background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;

    /* background-color: rgb(21, 21, 21); */
    background-image: url(../../src/assets/images/black\ triangle\ background.jpg);
    background-size: cover;

    filter: grayscale(1) hue-rotate(180deg) blur(5px) brightness(0.8);
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-1 {
    height: 100%;
    width: 100%;

    filter: contrast(1.1) saturate(1.3);
    /* padding: 30px; */
}
.image {
    height: 55%;
}

footer {
    /* position: absolute;
    bottom: 0; */
    color: white;
    /* z-index: 10; */
}
