:root {
    --margin-big: 10px;
    --padding-big: 20px;
}
body {
    margin: 0;
    padding: 5px;
    padding-top: 70px;
}
input[type=file], .btn {
    cursor: pointer;
}
.btn {
    transition: 180ms;
}
.btn:hover {
    filter: brightness(.8);
}

.controlls {
    margin: var(--margin-big);

    display: flex;
    flex-direction: column;
    justify-content: center;
    
	border: 1px solid rgb(88, 88, 88);
	border-radius: 10px;
	padding: var(--padding-big);
	color: rgb(134, 205, 248);

    background: rgb(40, 44, 52);
}
.controlls > * + * {
    margin-top: 20px;
}
.controlls > * {
    display: flex;
    align-items: center;
}
.controlls :is(input, button, .custom-file-input-btn) {
    font-size: .8rem;
    border: none;
    border-radius: 6px;
    padding: 6px;
}

/* .file {} */
#jsonFileInput {
    display: none;
}
.custom-file-input-btn {
    background: rgba(134, 134, 134, 0.418);
}

/* .paste {} */


.request button {
    background: var(--activeLinkColor);
    font-weight: 700;
}

#jsonRequestInput {
    margin: 0 6px;
    /* width: 20rem; */
    max-width: 50rem;
    resize: horizontal;

}
#jsonRequestInput, #jsonStringInput {
    font-family: menlo, monospace;
}

pre.JSON {
    margin: var(--margin-big);
    padding: var(--padding-big);
}