<h1 class="logo">Playground</h1>
<!-- prettier-ignore -->

<div style="position: relative;">
            <button class="change-clr-btn" onclick='colorTheme.change(); settings.toggle("close");'>change Color</button><!-- prettier-ignore -->
            <input type="checkbox" id="toggleColorSlider" style="display: none">
            <div class="colorSliderContainer dialogInput">
               <input class="sliderInput colorSlider" id="colorSlider" type="range" value="" min="0" max="360">
               <button id="ok-button" onclick='colorTheme.change("close")'>OK</button>
            </div>
         </div>

<button class="random-clr-btn" onclick="colorTheme.setRandomHue()">
	<i class="fad fa-random"></i>
</button>

<div style="position: relative">
	<button
		class="settings-btn toggleSettings"
		onclick="settings.toggle(); colorTheme.change('close')"
	>
		<i class="fas fa-cog toggleSettings"></i>
	</button>
	<input type="checkbox" id="toggleSettings" style="display: none" />
	<div class="settings-container">
		<h2>Settings</h2>
		<button class="close-settings-btn" onclick="settings.toggle()">
			<i class="far fa-times"></i>
		</button>
		<div class="settings-item keepColor">
			<input type="checkbox" id="keepColorSwitch" style="display: none" />
			<label class="switch" for="keepColorSwitch">
				<span class="slider"></span>
			</label>
			keep color for next time
		</div>
		<div class="settings-item color">
			<input
				class="sliderInput colorSlider"
				id="colorSlider"
				type="range"
				value=""
				min="0"
				max="360"
			/>
		</div>
	</div>
</div>

<div class="search-bar-container removeFocusClick">
	<input
		type="text"
		class="search-bar removeFocusClick"
		placeholder="search google..."
	/>
	<i class="fad fa-search search-icon removeFocusClick"></i>
	<i class="fad fa-times-circle cancel-icon removeFocusClick"></i>
</div>
<a id="google-query" target="_blank" style="display: none">google</a>

<input
	type="checkbox"
	class="nav-toggle"
	id="nav-toggle"
	style="display: none"
/>
<nav>
	<div class="nav-list">
		<div>
			<a id="return-to-main"
				><i class="fad fa-home-lg-alt"></i> Return to main</a
			>
		</div>
		<div>
			<a href="/playground" class="playgroundLink"
				><i class="fad fa-gamepad-alt"></i> Playground</a
			>
		</div>
		<div>
			<a href="PHP-test.php"><i class="fab fa-php"></i> Test</a>
		</div>
		<div>
			<a href="social.html" class="socialLink"
				><i class="fas fa-users"></i> Social</a
			>
		</div>
		<div>
			<a href="design tests.html" class="designTestsLink"
				><i class="fad fa-hockey-puck"></i> Design Tests</a
			>
		</div>
		<div>
			<a href="tagLibrary.html" class="tagLibraryLink"
				><i class="fad fa-books"></i> Tag Library</a
			>
		</div>
	</div>
</nav>

<label for="nav-toggle" class="nav-toggle-label">
	<span class="hamburger"></span>
</label>
